@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat/Montserrat-Bold.eot');
    src: url('/fonts/Montserrat/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Montserrat/Montserrat-Bold.woff2') format('woff2'),
        url('/fonts/Montserrat/Montserrat-Bold.woff') format('woff'),
        url('/fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('/fonts/Rubik/Rubik-Regular.eot');
    src: url('/fonts/Rubik/Rubik-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Rubik/Rubik-Regular.woff2') format('woff2'),
        url('/fonts/Rubik/Rubik-Regular.woff') format('woff'),
        url('/fonts/Rubik/Rubik-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('/fonts/Rubik/Rubik-Bold.eot');
    src: url('/fonts/Rubik/Rubik-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Rubik/Rubik-Bold.woff2') format('woff2'),
        url('/fonts/Rubik/Rubik-Bold.woff') format('woff'),
        url('/fonts/Rubik/Rubik-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@mixin m700 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

@mixin r400 {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

@mixin r700 {
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
}